<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF' http-equiv="content-type"/>
  </head>
  <body>
    <h1>Welcome to Foreversoaps.com, <%= @user.email %>.</h1>
    <p>
      You have successfully signed up for our website! Thank you for joining us and have a great day!
    </p>
    <p>
      If you did not sign up for Foreversoaps and Incenses or wish to unsubscribe, click the link below.
    </p>
    <p>
      Remove link placeholder
    </p>
  </body>
</html>
