<div class="admin-panel">
  <div class="admin-top">
      <span class="listing-head">Settings</span>
    </div>
    <div class="listing-area container">
      <div class="col-sm-6 setting-layout">
        <%= link_to "Modify States", admin_states_path, :class => "settings-btn" %>
      </div>
    </div>
</div>
