<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF' http-equiv="content-type"/>
  </head>
  <body>
    <h1>Welcome to Foreversoaps.com, <%= @user.email %>.</h1>
    <p>
      You have successfully signed up for our newsletter!
    </p>
    <p>
      You will now recieve any promotional emails for this website as well as any information to any changes or updates.
      Thank you for joining us and have a great day!
    </p><br>
    <p>
      If you did not sign up for Foreversoaps and Incenses Newsletter or wish to unsubscribe, click the link below.
    </p>
    <p>
      PLACEHOLDER FOR NOW
    </p>
  </body>
</html>
