<div class="admin-panel">
  <div class="admin-top">
      <span class="listing-head">New State</span>
    </div>

  <div class="listing-area2">
    <%= form_for :state, url: admin_states_path, method: :post do |f| %>
      <p>
        Name:
      </p>
        <%= f.text_field :name %><br><br>
        <%= f.submit %>
    <% end %>
    <div class="states-submit">
      <%= link_to "Back to Settings", admin_states_path, :class => "submit-btn" %>
    </div>
  </div>
</div>
